<article class="container py-5">
    <div class="row" style="margin-bottom: 60px">
    <div class="card card-article col-md-9">
        <div class="card-body">
            <h5 class="card-title"><%= page.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=full_date(page.date, 'dddd, MMMM Do YYYY')%></h6>
            <div class="card-text post-content"><%- page.content %></div>
        </div>
    </div>
    <div class="toc-body col-md-3 d-none d-xl-block">
        <% if (page.toc){ %>
        <div id="toc" class="toc-article">
            <center class="toc-title">文章目录</center>
            <%- toc(page.content) %>
        </div>
        <% } %>
    </div>
    </div>
</article>
<%- partial('_partial/footer') %>